@font-face {
  font-family: 'allerregular';
  src: url("../fonts/aller_rg-webfont.eot");
  src: url("../fonts/aller_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_rg-webfont.woff2") format("woff2"), url("../fonts/aller_rg-webfont.woff") format("woff"), url("../fonts/aller_rg-webfont.ttf") format("truetype"), url("../fonts/aller_rg-webfont.svg#allerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#allerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?b1s0t8");
  src: url("../fonts/icomoon.eot?b1s0t8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?b1s0t8") format("truetype"), url("../fonts/icomoon.woff?b1s0t8") format("woff"), url("../fonts/icomoon.svg?b1s0t8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-download:before {
  content: "\e900";
}

.icon-cart:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e909";
}

.icon-eye:before {
  content: "\e904";
}

.icon-star-empty:before {
  content: "\e905";
}

.icon-google-plus:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e902";
}

.icon-twitter:before {
  content: "\e903";
}

.icon-flickr:before {
  content: "\e908";
}

.icon-linkedin2:before {
  content: "\e907";
}

body {
  min-width: 320px;
}

.header-logo {
  background: #242424;
  padding: 8px 0;
  overflow: hidden;
}

.search .form-group {
  margin-bottom: 0;
}
.search button {
  margin: 0 10px;
}

.container-content {
  margin: 0 auto;
}

.navbar-brand {
  padding: 4px 10px 1px;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 1;
  height: auto;
}
.navbar-brand:hover {
  opacity: 0.6;
}

.register {
  margin-right: 10px;
}
.register .btn-link {
  color: #57c5a0;
}
.register .modal-dialog {
  z-index: 2000;
}
.register .modal-dialog h3 {
  font-size: 16px !important;
  line-height: 20px;
  text-align: center;
}

.btn-success:hover {
  color: #57c5a0 !important;
}

#login {
  margin: 10px 0;
}

#pass {
  margin-bottom: 10px;
}

.header-nav {
  margin-bottom: 0;
}
.header-nav .nav-pills > li + li {
  margin-left: 0;
}
.header-nav .active {
  color: #57c5a0;
}
.header-nav .active a {
  background: #eee !important;
  color: #57c5a0 !important;
}
.header-nav ul {
  margin-top: 6px;
}
.header-nav a {
  color: #242424;
}
.header-nav a:hover {
  color: #57c5a0 !important;
}
.header-nav .btn .caret {
  margin-left: 5px;
}

.open a {
  border-radius: 4px 4px 0 0 !important;
  color: #57c5a0;
}
.open .dropdown-menu {
  border-radius: 0 0 4px 4px;
  background: #eee;
  margin-top: 0;
  box-shadow: none;
}

.navtogg-left {
  float: left !important;
  margin-left: 15px;
}

.navbar-header {
  display: inline-block;
}

.cart, .star {
  margin: 15px;
}
.cart:hover .figures, .star:hover .figures {
  background: #57c5a0;
}

.figures {
  min-width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #adadad;
  margin-left: 8px;
  text-align: center;
  display: inline-block;
  color: white;
  padding: 4px;
}

.main-header {
  background: #eeece7;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
}
.main-header img {
  position: relative;
  top: 0;
}
.main-header .price-shoes {
  margin: 68px 0 95px;
}
.main-header .price {
  width: 68px;
  height: 68px;
  background: #57c5a0;
  padding: 25px 10px;
}
.main-header h1 {
  font-size: 40px;
  line-height: 50px;
  margin: 40px 0 17px;
}
.main-header a {
  margin-bottom: 19px;
}

.service {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 13px 0;
}
.service:hover {
  color: #57c5a0 !important;
  background: white !important;
}

.tabs-navigation {
  background: #2e2e2e;
  margin-bottom: -2px;
  text-align: center;
  padding-top: 6px;
  font-size: 18px;
  line-height: 25px;
}
.tabs-navigation .btn-product {
  margin: 10px 0 14px;
  font-size: 20px;
  line-height: 25px;
  display: block;
}
.tabs-navigation .btn-product:active {
  background: #3d3d3d;
}
.tabs-navigation .in {
  display: block;
}
.tabs-navigation li {
  width: 20%;
  padding: 25px 10px;
  border-top: 10px solid #000;
}
.tabs-navigation li a:hover {
  background: #3d3d3d;
  border: 1px solid #3d3d3d;
}
.tabs-navigation li.active {
  border-top: 10px solid #57c5a0;
}
.tabs-navigation li.active a {
  color: white;
}
.tabs-navigation li.active span {
  color: #979797;
}
.tabs-navigation .nav-tabs > li.active > a, .tabs-navigation .nav-tabs > li.active > a:hover, .tabs-navigation .nav-tabs > li.active > a:focus {
  background: none !important;
  border: none !important;
  color: white;
}
.tabs-navigation span {
  font-size: 12px;
  line-height: 25px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: none;
}

a:focus, a:active:focus, a.active:focus, a.focus, a.focus:active, a.active.focus {
  outline: none;
}

.specials {
  background: #242424;
  padding: 25px 0;
}

.special-offers {
  padding: 5px;
}
.special-offers a:hover, .special-offers a:focus, .special-offers a.focus {
  color: #57c5a0;
}
.special-offers a:hover span, .special-offers a:focus span, .special-offers a.focus span {
  background: #2b2d2c;
}
.special-offers a {
  position: relative;
  color: white;
}
.special-offers img {
  width: 100%;
}
.special-offers span {
  background: rgba(43, 45, 44, 0.9);
  width: 60%;
  text-transform: uppercase;
  padding: 20px 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.section {
  background: #ebe7df;
  padding: 15px 0 0;
  font-size: 25px;
  line-height: 35px;
}

.item {
  margin-top: 33px;
  position: relative;
}
.item img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: -2px;
}
.item h2 {
  background: white;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  padding: 15px 5px 15px 76px;
  margin: 0;
}
.item span {
  background: #57c5a0;
  min-width: 67px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 24px;
  padding: 21px 0;
  color: white;
  font-size: 12px;
  line-height: 20px;
}
.item:hover h2 {
  min-height: 55px;
}
.item:hover h2 strong {
  display: none;
}
.item:hover .service-icon {
  display: inline-block;
}

.service-icon {
  bottom: 8px;
  position: absolute;
  right: 16px;
  display: none;
}

.btn-info:hover {
  color: #57c5a0;
}

.bestseller {
  padding-bottom: 46px;
}

.pd-l {
  margin: 18px 15px 0 10px;
}

.pd-r {
  margin: 18px 15px 0 10px;
}

.addon {
  background: #ebe7df;
  margin-top: 25px;
}

.bt-add {
  padding: 25px;
  border-top: 1px solid #bcb5a7;
  margin-bottom: -2px;
  display: flex;
}

.article-add {
  align-items: stretch;
  display: flex;
  margin-bottom: 10px;
}
.article-add blockquote {
  font-size: inherit !important;
}

.article {
  padding: 30px 15px;
  background: #dfdbd4;
  align-items: stretch;
  width: 100%;
}
.article h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}
.article blockquote {
  margin-bottom: 15px;
}

.post {
  margin-bottom: 15px;
}
.post span {
  color: white;
  background: #57c5a0;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  margin: 5px 15px 5px 0;
  padding: 5px;
}

#footer {
  background: #242424;
  padding-top: 50px;
  color: #a4a4a4;
}

.widget {
  padding-bottom: 50px;
  border-bottom: 1px solid #1c1c1c;
}
.widget ul {
  padding-left: 0;
}
.widget li {
  width: 33.332%;
  display: inline-block;
  margin-right: -4px;
}
.widget a {
  padding: 5px;
  display: block;
}
.widget h3 {
  color: #7d7d7d;
  text-decoration: uppercase;
  margin-bottom: 24px;
}
.widget p {
  margin-bottom: 15px;
}
.widget a {
  color: #4da587;
}
.widget strong {
  color: #b9bab5;
  margin-bottom: 17px;
  display: block;
}
.widget .btn {
  padding-bottom: 12px;
}
.widget img {
  width: 100%;
}

.communication {
  padding: 37px 0 45px;
}
.communication input {
  width: 215px !important;
  background: #2e2e2e;
  border: medium none;
  border-radius: 0;
}
.communication .btnform {
  border: none;
  border-radius: 0;
  height: 34px;
  margin-top: -2px;
}
.communication .btnform:hover {
  opacity: 0.5;
}
.communication a {
  color: #7d7d7d;
  background: #2e2e2e;
  padding: 9px;
}

.socialnetwork .btn {
  border-radius: 0;
}

.footer {
  background: #2e2e2e;
  padding: 20px 0;
}
.footer nav {
  display: inline-block;
  margin-top: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
}
.footer li:after {
  content: "/";
}
.footer li:last-child:after {
  content: "";
}
.footer a {
  color: #7b7b7b !important;
  margin: 0 3px 0 1px;
  display: inline-block !important;
}
.footer a:hover {
  color: white !important;
}
.footer .nav > li > a {
  padding: 0;
}
.footer .nav-pills > .active > a, .footer .nav-pills > .active > a:hover, .footer .nav-pills > .active > a:focus {
  background-color: transparent !important;
  color: white !important;
}
.footer .nav > li > a:hover, .footer .nav > li > a:focus {
  background-color: transparent !important;
  color: white !important;
}

.copiright {
  margin: 4px 0 8px;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .header-nav ul, .header-nav li {
    width: 100%;
  }
  .header-nav ul a, .header-nav li a {
    text-align: center;
  }

  .tabs-navigation li {
    width: 100%;
    padding: 0;
  }

  .copiright, .by {
    text-align: center;
    display: block;
  }

  .main-header .price-shoes {
    margin: 0;
  }

  .main-header {
    font-size: 14px;
    line-height: 18px;
  }

  .main-header .price {
    padding: 5px 7px;
  }

  .main-header h1 {
    font-size: 18px;
    line-height: 23px;
    margin: 13px 0 5px;
  }

  .section h1 {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .bt-add {
    display: block;
  }

  .communication form {
    display: inline-table;
  }

  .input-group {
    display: inline-table;
  }

  .footer {
    font-size: 10px;
  }
  .footer nav {
    float: none !important;
    text-align: center !important;
    width: 100% !important;
    display: block;
  }
  .footer nav ul {
    display: inline-block;
    margin: 0 auto;
  }

  .copiright {
    margin-bottom: -10px;
  }
}
@media only screen and (max-width: 530px) {
  .communication input {
    width: 100% !important;
  }
  .communication .search-fr {
    display: block;
    float: none !important;
    margin-bottom: 15px;
  }
  .communication .input-group .form-control {
    float: none;
    display: block;
  }
  .communication .communication form {
    display: block !important;
  }
  .communication .socialnetwork {
    display: block !important;
    float: none !important;
    text-align: center;
  }
}
